* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car,
.enemy {
  width: 44px;
  height: 100px;
  background-image: url(../assets/car_topview.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 500px;
  left: 30px;
  z-index: 5;
}

.translateDown {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.road-line {
  width: 10px;
  height: 50px;
  background: white;
  position: absolute;
  left: 240px;
}

section.gameplay {
  width: 100vw;
  height: 100vh;
}

section.gameplay .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.gameplay .container #road {
  width: 500px;
  height: 100%;
  background: black;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.gameplay .container #road p#score {
  position: absolute;
  top: 2em;
  color: white;
  font-weight: 800;
  z-index: 4;
}

section.gameplay .container #road div#nav {
  width: 60%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 2em 0;
  position: absolute;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1b1b1b;
  border-radius: 0.2em;
}

section.gameplay .container #road div#nav #menu,
section.gameplay .container #road div#nav #rules {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

section.gameplay .container #road div#nav #menu button,
section.gameplay .container #road div#nav #rules button {
  width: 50%;
  padding: 0.8em 0.4em;
  margin-bottom: 1em;
  border: none;
  border-radius: 0.1em;
  background: #3a3939;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

section.gameplay .container #road div#nav div#menu p {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 2em;
}

section.gameplay .container #road div#nav div#rules {
  display: none;
}

section.gameplay .container #road div#nav div#rules p {
  margin-bottom: 1em;
}

section.gameplay .container #road div#nav div#rules #back-button {
  margin-top: 2em;
}
/*# sourceMappingURL=style.css.map */